li {
    margin-top: 5px;
    margin-bottom: 5px;
}
ul {
    margin: 5px;
}

.block {
    display: block;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}

.add-schedule-container {
    position: absolute;
    left: 10px;
    top: 70px;
    font-family: Canela Text;
    font-weight: bold;
    font-size: 16px;
}

.add-schedule-box {
    border: 2px solid black;
    font-weight: normal;
    width: 230px;
    height: 250px;
}

.schedule-info-container {
    position: absolute;
    left: 10px;
    top: 360px;
    font-family: Canela Text;
    font-weight: bold;
    font-size: 16px;
}

.schedule-info-box {
    border: 2px solid black;
    font-weight: normal;
    width: 230px;
    height: 250px;
}

.calender-container {
    position: absolute;
    left: 300px;
    top: 94px;
}

.times-container {
    position: absolute;
    left: 255px;
    top: 153px;
}

.union-times-container {
    position: absolute;
    left: 255px;
    top: 854px;
}

#home-header {
    position: absolute;
    left: 468px;
    top: 30px;
    font-family: Canela;
    font-weight: bold;
    font-size: 100px;
}

#union-header {
    font-family: Canela;
    font-weight: bold;
    font-size: 40px;
}

#home-buttons {
    position: absolute;
    left: 1100px;
    top: 10px;
}

#home-buttons div{
    text-align: center;
    width: 60px;
    font-family: Canela Text;
    font-size: 16px;
    border-bottom: 2px solid black;
    cursor: pointer;
}

#group-list-container {
    position: absolute;
    left: 510px;
    top: 300px;
    font-family: Canela Text;
    font-size: 16px;
}

#group-list-container div {
    border: 2px solid black;
    width: 250px;
    height: 250px;
}

#create-group {
    cursor: pointer;
}

#members-container {
    position: absolute;
    left: 10px;
    top: 650px;
    font-family: Canela Text;
    font-weight: bold;
    font-size: 16px;
}

#members-box {
    border: 2px solid black;
    width: 230px;
    height: 250px;
}

#members-box ul, li {
    cursor: pointer;
}

#setting-button {
    position: absolute;
    left: 1230px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#group-calender, #group-calender th, #group-calender td {
    border: 1px solid black;
    border-collapse: collapse;
}

#group-calender th {
    font-family: Canela;
    font-weight: bold;
    font-size: 20px;
    width: 130px;
    height: 50px;
}

#group-calender td {
    width: 135px;
    height: 100px;
}

#union-container {
    position: absolute;
    left: 300px;
    top: 680px;
}

#union, #union th, #union td {
    border: 1px solid black;
    border-collapse: collapse;
}

#union th {
    font-family: Canela;
    font-weight: bold;
    font-size: 20px;
    width: 130px;
    height: 50px;
}

#union td {
    width: 135px;
    height: 100px;
}

#append-schedule {
    position: relative;
    left: 30%;
    text-align: center;
    width: 90px;
    font-family: Canela Text;
    font-size: 25px;
    border-bottom: 3px solid black;
    cursor: pointer;
}

#remove-schedule {
    position: relative;
    left: 13%;
    text-align: center;
    width: 90px;
    font-family: Canela Text;
    font-size: 25px;
    border-bottom: 3px solid black;
    cursor: pointer;
    display: inline-block;
}

#modify-schedule {
    position: relative;
    left: 6%;
    text-align: center;
    width: 90px;
    font-family: Canela Text;
    font-size: 25px;
    border-bottom: 3px solid black;
    cursor: pointer;
    display: inline-block;
}

.user-schedule, .user-schedule th, .user-schedule td {
    border: 1px solid black;
    border-collapse: collapse;
}

.user-schedule th {
    font-family: Canela;
    font-weight: bold;
    font-size: 20px;
    width: 135px;
    height: 50px;
}

.user-schedule td {
    width: 135px;
    height: 70px;
}

.times-user, .times-user th, .times-user td {
    border: 1px solid white;
    border-collapse: collapse;
}

.times-user td {
    width: 30px;
    height: 70px;
}

.times-user td div {
    position: relative;
    top: 40%;
    text-align: end;
    font-family: Canela;
    font-size: 13px;
}