li {
	margin-left: -10px;
}

.block {
    display: block;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}

.add-schedule-container {
    position: fixed;
    left: 10px;
    top: 70px;
    font-family: Canela Text;
    font-weight: bold;
    font-size: 16px;
}

.add-schedule-box {
    border: 2px solid black;
    font-weight: normal;
    width: 230px;
    height: 250px;
}

.schedule-info-container {
    position: fixed;
    left: 10px;
    top: 360px;
    font-family: Canela Text;
    font-weight: bold;
    font-size: 16px;
}

.schedule-info-box {
    border: 2px solid black;
    font-weight: normal;
    width: 230px;
    height: 250px;
}

.calender-container {
    position: absolute;
    left: 300px;
    top: 94px;
}

.times-container {
    position: absolute;
    left: 255px;
    top: 153px;
}

.union-times-container {
    position: absolute;
    left: 255px;
    top: 854px;
}

.user-schedule, .user-schedule th, .user-schedule td {
    border: 1px solid black;
    border-collapse: collapse;
}

.user-schedule th {
    font-family: Canela;
    font-weight: bold;
    font-size: 20px;
    width: 135px;
    height: 50px;
}

.user-schedule td {
    width: 135px;
    height: 70px;
}

.times-user, .times-user th, .times-user td {
    border: 1px solid white;
    border-collapse: collapse;
}

.times-user td {
    width: 30px;
    height: 70px;
}

.times-user td div {
    position: relative;
    top: 40%;
    text-align: end;
    font-family: Canela;
    font-size: 13px;
}

.exit-button {
    position: relative;
	left: 92%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.prefix {
    width: 50px;
    display: inline-block;
}

.sign-in-row {
    position: relative;
    left: 10%;
}

.dateArea {
  width: 135;
  height: 100;
}

.date {
  position: absolute;
  left: 5px;
  top: 5px;
  font-family: Canela;
  font-size: 18px;
}

.group-schedule {
  position: absolute;
  left: 25px;
  top: 8px;
  width: 70px;
  margin: 0px;
  font-family: Canela;
  font-size: 14px;
}

.inner-text {
  position: relative;
  display: block;
  top: 10px;
  text-align: center;
  font-size: 16px;
  font-family: Canela Text;
  color: white;
}

#user-name {
  position: fixed;
  font-size: 35px;
  font-family: Canela;
  font-weight: bold;
}

#group-name {
  position: fixed;
  font-size: 35px;
  font-family: Canela;
  font-weight: bold;
}

#add-schedule-header {
    margin-right: 10px;
}

#home-header {
    position: absolute;
    left: 468px;
    top: 30px;
    font-family: Canela;
    font-weight: bold;
    font-size: 100px;
}

#union-header {
    font-family: Canela;
    font-weight: bold;
    font-size: 40px;
}

#sign-in-window {
	position: absolute;
	left: 1000px;
	top: 50px;
	width: 250px;
	height: 120px;
	border: 2px solid black;
    font-family: Canela Text;
    font-size: 20px;
    display: none;
}

#sign-in-button {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 5%;
    width: 70px;
    border-bottom: 3px solid black;
    cursor: pointer;
}

#sign-up-button {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 15%;
    width: 70px;
    border-bottom: 3px solid black;
    cursor: pointer;
}

#home-buttons {
    position: absolute;
    left: 1100px;
    top: 10px;
}

#home-buttons div{
    text-align: center;
    width: 70px;
    font-family: Canela Text;
    font-size: 20px;
    border-bottom: 2px solid black;
    cursor: pointer;
}

#group-list-container {
    position: absolute;
    left: 510px;
    top: 300px;
    font-family: Canela Text;
    font-size: 16px;
}

#group-list-box {
    border: 2px solid black;
    width: 250px;
    height: 250px;
}

#create-group-div {
  margin-left: 9px;
}

#create-group {
  position: absolute;
  cursor: pointer;
}

#create-group-input-row {
  position: absolute;
  display: None;
}

#create-group-input {
  font-family: Canela Text;
}

#create-group-input-button {
  position: relative;
  left: 12px;
  font-family: Canela Text;
  font-size: 16px;
  border-bottom: 2px solid black;
  cursor: pointer;
  display: inline-block;
}


#members-container {
    position: absolute;
    left: 10px;
    top: 70px;
    font-family: Canela Text;
    font-weight: bold;
    font-size: 16px;
    
}

#members-box {
    border: 2px solid black;
    width: 230px;
    height: 250px;
    display: none;
}

#members-box ul, li {
    cursor: pointer;
}

#setting-button {
    position: absolute;
    left: 1230px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#group-calender, #group-calender th, #group-calender td {
    border: 1px solid black;
    border-collapse: collapse;
}

#group-calender th {
    font-family: Canela;
    font-weight: bold;
    font-size: 20px;
    width: 130px;
    height: 50px;
}

#group-calender td {
    width: 135px;
    height: 100px;
}

#union-container {
    position: absolute;
    left: 300px;
    top: 680px;
}

#union, #union th, #union td {
    border: 1px solid black;
    border-collapse: collapse;
}

#union th {
    font-family: Canela;
    font-weight: bold;
    font-size: 20px;
    width: 130px;
    height: 50px;
}

#union td {
    width: 135px;
    height: 100px;
}

#append-schedule {
    position: relative;
    left: 30%;
    text-align: center;
    width: 90px;
    font-family: Canela Text;
    font-size: 25px;
    border-bottom: 3px solid black;
    cursor: pointer;
}

#remove-schedule {
    position: relative;
    left: 13%;
    text-align: center;
    width: 90px;
    font-family: Canela Text;
    font-size: 25px;
    border-bottom: 3px solid black;
    cursor: pointer;
    display: inline-block;
}

#modify-schedule {
    position: relative;
    left: 6%;
    text-align: center;
    width: 90px;
    font-family: Canela Text;
    font-size: 25px;
    border-bottom: 3px solid black;
    cursor: pointer;
    display: inline-block;
}

#setting-window {
    position: fixed;
    left: 250px;
    top: 50px;
    width: 800px;
    height: 600px;
    border: 2px solid black;
    font-family: Canela Text;
    background-color: rgb(255,255,254);
    z-index: 1;
	display: None;
}

#setting-page-header {
    position: absolute;
    left: 5%;
    top: 10%;
    font-size: 30px;
    font-weight: bold;
}

#setting-exit-button {
    position: absolute;
    top: 10px;
    left: 95%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#user-invite-input {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 550px;
    height: 30px;
    font-size: 22px;
    font-family: Canela Text;
}

#user-search-button {
    position: absolute;
    left: 77%;
    top: 20%;
    font-size: 22px;
    border-bottom: 3px solid black;
    cursor: pointer;
}

#user-search-result {
    position: absolute;
    left: 5%;
    top: 30%;
    font-size: 30px;
    font-weight: bold;
}

#delete-leave-button {
    position: absolute;
    left: 34%;
    top: 80%;
    font-size: 30px;
    font-weight: bold;
    color: red;
    border-bottom: 4px solid red;
    cursor: pointer;
}
