<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../controller/group.js"></script>
  <title>UNION</title>
</head>
<body>
  <div id="group-name"></div>
    <img src="../images/setting-button.png" id="setting-button">
    <div class="add-schedule-container"> <!--일정 추가 div-->
			<span id="add-schedule-header">Add schedule</span><span id="members-header">Members</span>
			<div class="add-schedule-box">
				<ul> <!--사용자 입력들-->
					<li>title<input type="text" id="group-add-title" class="block"></li>
					<li>memo<textarea id="group-add-memo" class="block" rows="3" cols="16"></textarea></li>
					<li><input type="text" id="group-add-day" size="5" class="margin-right">day</li>
					<li>from <input type="text" id="group-add-from" class="group-add-time" size="5" class="margin-left margin-right"> to <input type="text" id="group-add-to" class="group-add-time" size="5" class="margin-left margin-right"></li>
				</ul>
				<div id="append-schedule">append</div> <!--일정 추가 버튼-->
		  </div>
      <div id="members-box">
        <ul> <!--dummy data-->
          <li>John</li>
          <li>Ryan</li>
          <li>Avril</li>
        </ul>
      </div>
    </div>
    <div class="schedule-info-container"> <!--일정 상세정보 div-->
			<span>Schedule info</span>
			<div class="schedule-info-box">
				<ul> <!--사용자 입력들-->
					<li>title<input type="text" id="group-modify-title" class="block"></li>
					<li>memo<textarea id="group-modify-memo" class="block" rows="3" cols="16"></textarea></li>
					<li><input type="text" id="group-modify-day" size="5" class="margin-right">day</li>
					<li>from <input type="text" id="group-modify-from" class="group-modify-time" size="5" class="margin-left margin-right"> to <input type="text" id="group-modify-to" class="group-modify-time" size="5" class="margin-left margin-right"></li>
				</ul>
				<div id="modify-schedule">modify</div> <!--일정 수정 버튼-->
				<div id="remove-schedule">remove</div> <!--일정 삭제 버튼-->
			</div>
    </div>
    <div id="setting-window">
			<div id="setting-page-header">Invite user to this group</div>
			<img id="setting-exit-button" src="../images/exit-button.png">
			<input type="text" id="user-invite-input">
			<div id="user-search-button">search by name</div>
      <div id="user-search-result">
        <span>Results</span>
        <ul id="user-search-result-table"></ul>
      </div>
			<div class="delete-leave-button">Leave this group</div>
    </div>
    <div class="calender-container"> <!--캘린더 div-->
			<table id="group-calender"> <!--테이블로 구현-->
				<tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			</table>
    </div>
    <div class="union-times-container"> <!--시간표의 시간(1PM, 2PM, ...)등을 나타내기 위한 div-->
			<table class="times-user"> <!--테이블로 구현-->
				<tr><td><div>1AM</div></td></tr>
				<tr><td><div>2AM</div></td></tr>
				<tr><td><div>3AM</div></td></tr>
				<tr><td><div>4AM</div></td></tr>
				<tr><td><div>5AM</div></td></tr>
				<tr><td><div>6AM</div></td></tr>
				<tr><td><div>7AM</div></td></tr>
				<tr><td><div>8AM</div></td></tr>
				<tr><td><div>9AM</div></td></tr>
				<tr><td><div>10AM</div></td></tr>
				<tr><td><div>11AM</div></td></tr>
				<tr><td><div>11AM</div></td></tr>
				<tr><td><div>12PM</div></td></tr>
				<tr><td><div>1PM</div></td></tr>
				<tr><td><div>2PM</div></td></tr>
				<tr><td><div>3PM</div></td></tr>
				<tr><td><div>4PM</div></td></tr>
				<tr><td><div>5PM</div></td></tr>
				<tr><td><div>6PM</div></td></tr>
				<tr><td><div>7PM</div></td></tr>
				<tr><td><div>8PM</div></td></tr>
				<tr><td><div>9PM</div></td></tr>
				<tr><td><div>10PM</div></td></tr>
				<tr><td><div>11PM</div></td></tr>
				<tr><td><div>12AM</div></td></tr>
			</table>
    </div>
    <div id="union-container"> <!--UNION 결과를 나타낼 div-->
			<h1 id="union-header">UNION</h1>
			<table id="union-calender" class="user-schedule">
				<tr></td><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			</table>
    </div>
</body>
</html>
